@page "/"

<PageTitle>Главная</PageTitle>

<section class="banner">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-8">
                <h1>Добро пожаловать в магазин хлеба</h1>
                <p class="mt-4 mb-4">Мы предлагаем широкий ассортимент свежего и вкусного хлеба, который идеально подходит для завтрака, обеда и ужина.</p>
            </div>
        </div>
    </div>
</section>